[Unit]
Description=Android System Container

[Service]
Type=simple
ExecStart=/usr/sbin/droid-hal-init.sh
OOMScoreAdjust=-1000

[Install]
WantedBy=basic.target
